<!DOCTYPE html>
<html>

<head>
    <title>Passport with Sequelize</title>
</head>

<body>
    {{>menu}}

    <h2>Панель администратора</h2>
    <image src='/app/images/reportAdmin.png'>
    <br>
    <form>
        <button background-image="/app/images/reportAdmin.png" type="submit" action="" method=""/>
        <br>
        <button type="submit" action="" method="">
            <img src='/app/images/reportAdmin.png' alt="Печать отчета">
        </button>
    </form>

    {{>footer}}
</body>

</html>