<!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
    
    <script type="text/javascript" src="../controllers/bill/printXls.js"></script>
    <title>{{title}}</title>
</head>

<body>
<table border="1" name="rows" id="rows">
        <tr>
            <td>Работодатель</td>
            <td>Задача</td>
            <td>Работник</td>
            <td>Валюта</td>
            <td>Оплата</td>
        </tr>

        <tr>
            <td>Виктор Анатольевич Петров</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>        <tr>
            <td></td>
            <td>Разработка игры 1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>        <tr>
            <td></td>
            <td></td>
            <td>Афанасий Викторович Алексеев</td>
            <td>RUB</td>
            <td>21101.30</td>
        </tr>        <tr>
            <td></td>
            <td></td>
            <td>Арнольд Григорьевич Мельников</td>
            <td>RUB</td>
            <td>0.00</td>
        </tr>        <tr>
            <td></td>
            <td>Разработка ПО 2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>        <tr>
            <td></td>
            <td></td>
            <td>Афанасий Викторович Алексеев</td>
            <td>RUB</td>
            <td>22000.00</td>
        </tr>     </table>
    <br>
    <input type="button" name="btnBill" value="Печать" onClick="print()"> 
</body>

</html>