<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type='text/css' href="../../public/bower_components/bootstrap/dist/css/bootstrap-grid.min.css">

</head>

<body>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{title}}</h1>
                <br>
                <p class="lead text-muted">Данный сайт является дипломной работой студентки ДонНТУ гр. ИУС-14 Липовой Э. Е.</p>
                <p class="lead text-muted">Для начала работы с сайтом войдите в систему.</p>
                <p class="lead text-muted">
                    <a class="btn btn-primary my-2" href="/signin">Войти в систему</a>
                </p>
            </div>
        </section>
    </main>
    {{> footer}}
</body>
<html>